div{
    margin: 0 auto;
}
.longBanner{
    display: flex;
    margin: 0;
    justify-content: center;

}
.longBanner div{
    padding-top: 20px;
    max-width: 400px;
    max-height: 700px;
    margin: 20px;
}
.first img{
    top: -20px;
    width: 85%;
    height: 100%;
}
.second img{
    top: -20px;
    width: 85%;
    height: 100%;
}
.third img{
    top: -20px;
    width: 85%;
    height: 100%;
}

